
.footer{
    margin-top: 20px;
    background: black;
    color: white;
    text-align: center;
    display: relative;
    padding: 5px;   
}

.footer-logo{
    padding: 15px;
    margin-top: 10px;
    transition: 0.4s ease-in all;
}

.footer-logo:hover{
    background:rgb(59, 111, 255);
    border-radius: 100px;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-logo{
    margin: 10px auto;
    position: relative;
    padding: 10px; 
    z-index: 10;   
}

.github-logo:before{
    content: '';
    width: 45px;
    height: 5px;
    background-color: royalblue;
    position: absolute;
    bottom: -1px;
    left: 5px;
    border-radius: 10px;
    z-index: -10;
    transition: 0.5s  all;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);   
}

.github-logo:hover:before{
    height: 50px;   
}


